<!-- Riddhi -->
<table border="1">
  <tr>
    <th>Name</th>
    <th>Actoin</th>
  </th>
  <% @job_types.each do |obj| %>
  <tr>
    <td><%=obj.name%></td>
    <td>
      <%=link_to "Edit",edit_job_type_path(obj)%>
      <%=link_to "Delete",obj,method: :delete%>
    </td>
  </tr>
  <%end%>
</table>
<br><br>

<%= link_to "Add New Job Type", new_job_type_path%>
