<%= form_for @education do |e| %>
<li><br><br>
  <%= e.label('Highest Qualification :') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= e.text_field :qualification %><br><br>

  <%= e.submit "Add qualification"%>
</li>
<% end %>
