
<%= form_for @location do |l| %>
<li><br><br>
  <%= l.label('Current location :') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= l.text_field :name %><br><br>

  <%= l.submit "Add location"%>
</li>
<% end %>
